
// 页面所有元素的公共样式
.layer-wrap {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: none;

    .layer-main {
        width: 100%;
        height: 100%;

        .layer {
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            // overflow: hidden;

            &>* {
                width: 100%;
            }
        }
        .group {
            position: absolute;
            left: 0;
            top: 0;

            .group-event {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 9999;
                pointer-events: all;
            }
        }
    }
}

// 页面所有元素的独立样式
