@font-face{
  font-family: 'SourceHanSansSC-Bold';
  src : url('/fonts/SourceHanSansSC-Bold.otf');
}
@font-face{
  font-family: 'SourceHanSansSC-Regular';
  src : url('/fonts/SourceHanSansSC-Regular.otf');
}
@font-face{
  font-family: 'Alibaba-PuHuiTi-Medium';
  src : url('/fonts/Alibaba-PuHuiTi-Medium.woff');
}
// 当前页面的CSS，包含自适应方式
.shj-page {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #161B24;

    &.autoAdapter {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .shj-page-content {
            transform-origin: center center;
        }
    }

    &.widthAdapter {
        overflow-x: hidden;
        overflow-y: auto;

        .shj-page-content {
            transform-origin: left top;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.heightAdapter {
        overflow-y: hidden;
        overflow-x: auto;

        .shj-page-content {
            transform-origin: left top;
        }
    }

    &.fullAdapter {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .shj-page-content {
            transform-origin: center center;
        }
    }

    &.originalAdapter {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &-content {
        width: 2560px;
        height: 1440px;
        min-width: 2560px;
        min-height: 1440px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        overflow: hidden;
        filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%) opacity(100%) grayscale(0%);

    }
}